---
import Layout from '../layouts/main.astro';
---
<Layout title="Merry Christmas">
    <h1>Merry Christmas!</h1>
    <p>a new job for Mike!</p>
    <p>Rose's 7th birthday</p>
    <p>very few full nights of sleep</p>
    <p>COVID</p>
    <p>Kolbe's 5th birthday</p>
    <p>Leo's first day of preschool</p>
    <p>Chiara's graduation from PT and OT</p>
    <p>our 9th wedding anniversary</p>
    <p>a jungle gym IN the basement</p>
    <p>Leo's 4th birthday</p>
    <p>countless family movie nights</p>
    <p>Rose and Kolbe's first piano recital</p>
    <p>Chiara's 2nd birthday</p>
    <p>Becky's first weekend getaway since having kids</p>
    <p>an unforgettable family circus halloween costume</p>
    <p>SO many requests for snacks...like SO many</p>

    <p>...and more joy than we ever could have imagined</p>
</Layout>
