---
const { src, reverse } = Astro.props;
---

<div class={`z-0 absolute aspect-[4/5] w-52 rounded-2xl bg-red-400 shadow-inner shadow-red-800 transform ${reverse ? 'rotate-3' : '-rotate-3'}`}></div>
<img class={`z-10 relative aspect-[4/5] w-52 flex-none rounded-2xl object-cover self-start ring-1 ring-emerald-50 ring-opacity-30 transform ${reverse ? '-rotate-3' : 'rotate-3'}`} src={src} alt="" />

