---
layout: default
---

<h1>Merry Covidmas...</h1>
<p>...we almost made it. Chances are you're reading this and wondering why our Christmas cards were so late. No, it's not because we procrastinated (ok, not COMPLETELY because of that). Becky tested positive for Covid the week of Christmas and pretty much altered all of our plans. Anyway, on to the update!</p>

<h2>2021 Updates</h2>

<p>After a year of lockdowns, we were glad to be able to get out and do a bit more this year. We were fortunate to have a few vacations this year. In April we spent a week in Williamsburg, VA and had an incredible time. We will definitely be returning. In July we got to spend a week in Louisiana with Mike's grandparents who we hadn't gotten to see in a few years. The family time was priceless and the kids are still planning our next trip down there.</p>

<p>Mike continued working from home, and we found out that it's going to be a permanent change. He still loves being able to have three meals a day with Becky and the kids and help with school drop off. We're still working on helping the toddlers understand what "I'm in a meeting" really means.</p>

<p>Becky should write her own update. She is still the hottest mom on the block. She is loving having school-aged kids and especially loves having them in the same school district she grew up in. She's getting involved in as much as she can, which most recently includes her being Rose's troop leader for Girl Scouts.</p>

<p>Rose turned six this spring and has really blossomed. She started first grade and after a year of homeschooling, she is loving being in a traditional school setting. Her favorites are reading, math, and music. She loves reading and devours books much like her parents did as kids. She and Mike read through the entire series of the Oz books this year and have now moved on to the Beverly Cleary series. She also joined the Girl Scouts and started gymnastics and is having a blast with both of those.</p>

<p>Kolbe turned four over the summer and started pre-school this fall. He loves going to school (and Mike and Becky are happy to get a few quiet hours in the afternoon 3 days a week) and loves telling us all about what he's learning. His favorite things are playing outside, digging by his "favorite tree", and playing with his tools. Sometimes his projects get too real, and we've found a few holes in the walls that weren't there before.</p>

<p>Leo turned three this fall and loves doing whatever his big brother Kolbe is doing. They are two peas in a pod and love working together. Leo has grown quite attached to Mike, so we're lucky he's working from home full time. He also loves his baby sister so much that it hurts.</p>

<p>Chiara is still our little miracle baby and we can't believe she turned one this year. She's the tiniest thing, but we're happy to have our baby stay little just a bit longer. She's had her fair share of developmental delays due to being premature, but she's handling them like a champ. She's the sweetest baby and makes everyone smile, no matter what kind of mood they're in.</p>

<p>We love and miss you all, and pray you have a wonderful Christmas and a safe, happy, and healthy 2022.</p>

<p>Love, The McBrides</p>
