---
const { title } = Astro.props;
import Footer from '../components/Footer.astro';
const currentYear = 2024;
---

<html lang="en">
	<head>
        <!-- Recommended -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Elements -->
        <meta charset="utf-8">

        <!-- Meta -->
        <meta name="description" content="{{ metadata.description }}">
        <meta name="generator" content="11ty">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Inter&display=swap" rel="stylesheet">
        <!-- Icons -->
        <!-- https://favicon.io/ -->
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🎄</text></svg>"/>
		<title>{title}</title>
	</head>
        <body class="font-sans leading-normal tracking-normal bg-white dark:bg-neutral-900 text-neutral-900 dark:text-neutral-100 selection:text-green-900 selection:bg-green-200">
            <main class="px-4 xl:px-0 mx-auto max-w-6xl mt-16 prose-xl prose-neutral lg:prose-2xl dark:prose-invert prose-headings:font-display prose-headings:lowercase prose-headings:text-green-700 dark:prose-headings:text-emerald-500 prose-img:my-0 lg:prose-img:my-0 prose-img:rounded-lg prose-a:text-red-700 dark:prose-a:text-red-400 prose-a:underline">
                <slot />
            </main>
            <Footer year={currentYear} />
	</body>
</html>
